.navbar{
    border-radius: 0;
    margin-bottom: 5px;
}

.main-container{
    height: 100%;
    min-height: 500px;
}

.app-section{
    height: 500px;
    max-height: 700px;
}

.section-container{
    padding:5px;   
}

footer{
    margin:0 20px;
}