<div class="navbar navbar-default" data-ng-controller="HomeCtrl">
  <div class="navbar-header" data-ng-init="init()">
    <a class="navbar-brand" ui-sref="home">Vehicle Cognition System</a>
  </div>
</div>
<div class="container-fluid main-container">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 section-container">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                
                        <div class="col-lg-6 col-md-6 col-sm-6 scenario-block" id="sr-1" ng-repeat="scenario in scenarios">
                            <div class="scenario-details">
                                <i class="fa fa-th-large"></i>
                                <p>{{scenario}}</p>
                            </div>
                        </div>
                
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 section-container">
            <div class="panel panel-default">
                <div class="panel-body" id="map-container">
                    <div id="map-holder">
                        
                    </div>
                    <div id="map-controls" class="row">
                        <div class="col-lg-1 col-md-1 col-sm-3 control">
                            <span ng-click="play()" class="glyphicon glyphicon-play control-size" data-toggle="tooltip"
                              data-placement="top" title="Play"></span>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-3 control">
                            <span ng-click="stop()" class="glyphicon glyphicon-stop control-size" data-toggle="tooltip"
                              data-placement="top" title="Stop"></span>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-4">
                            
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-5 route-holder">
                            <div class="route-details">
                                <span class="green">From :</span> <span class="white">Patrick's St, Cork, Ireland</span>
                            </div>
                            <div class="route-details">
                                <span class="green">To :</span> <span class="white">The Square, Blarney, Cork, Ireland</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 section-container">
            <div class="panel panel-default">
                <div class="panel-body">
                    Values of Simulation
                </div>
            </div>
        </div>
    </div>

    </div>