<div class="navbar navbar-default" data-ng-controller="HomeCtrl">
  <div class="navbar-header" data-ng-init="init()">
    <a class="navbar-brand" ui-sref="home">Vehicle Cognition System</a>
  </div>
</div>
<div class="container-fluid main-container">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 section-container">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 scenario-block" id="sr-1">
                            <div class="scenario-details">
                                <i class="fa fa-th-large"></i>
                                <p>Scenario 1</p>
                            </div>
                        </div>
                       <div class="col-lg-6 col-md-6 col-sm-6 scenario-block" id="sr-2">
                            <div class="scenario-details">
                                <i class="fa fa-th-large"></i>
                                <p>Scenario 2</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 scenario-block" id="sr-3">
                            <div class="scenario-details">
                                <i class="fa fa-th-large"></i>
                                <p>Scenario 3</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 scenario-block" id="sr-4">
                            <div class="scenario-details">
                                <i class="fa fa-th-large"></i>
                                <p>Scenario 4</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 scenario-block" id="sr-5">
                            <div class="scenario-details">
                                <i class="fa fa-th-large"></i>
                                <p>Scenario 5</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 scenario-block" id="sr-6">
                            <div class="scenario-details">
                                <i class="fa fa-th-large"></i>
                                <p>Scenario 6</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 section-container">
            <div class="panel panel-default">
                <div class="panel-body" id="map-container">
                    <div id="map-holder">
                        
                    </div>
                    <div id="map-controls" class="row">
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 section-container">
            <div class="panel panel-default">
                <div class="panel-body">
                    Values of Simulation
                </div>
            </div>
        </div>
    </div>

    </div>