<div class="navbar navbar-default">
  <div class="navbar-header" data-ng-init="init()">
    <a class="navbar-brand" ui-sref="home">Vehicle Cognition System</a>
  </div>
</div>
<div class="container-fluid main-container">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 section-container">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                
                        <div class="col-lg-6 col-md-6 col-sm-6 scenario-block" data-ng-repeat="scenario in scenarios" data-scenario="{{scenario}}">
                            <div class="scenario-details">
                                <i class="fa fa-th-large"></i>
                                <p>{{scenario}}</p>
                            </div>
                        </div>
                
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 section-container">
            <div class="panel panel-default">
                <div class="panel-body" id="map-container">
                    <div id="map-holder">
                        
                    </div>
                    <div id="map-controls" class="row">
                        <div class="col-lg-1 col-md-1 col-sm-2 control">
                            <span data-ng-click="play()" class="glyphicon glyphicon-play control-size" data-toggle="tooltip"
                              data-placement="top" title="Play" data-ng-show="ready"></span>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-4 scenario-name">
                            <span>{{current_scenario}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
    
</div>