body::selection{
    background-color: transparent;    
}

.navbar{
    border-radius: 0;
    margin-bottom: 5px;
}

.main-container{
    height: 86%;
    /*min-height: 500px;*/
}

.app-section{
    /*height: 500px;*/
    /*max-height: 700px;*/
}

.section-container{
    padding:5px;
}

.section-container,.section-container .panel, .section-container .panel-body{
    height:100%;
}

footer{
    margin:0 20px;
}

.scenario-block{
    text-align:center;
    height:120px;
}

.scenario-block i{
    font-size:50px;
    margin-top:15px;
    padding:5px;
}

.scenario-block div{
    border: 2px solid #ecf0f1;
    cursor: move;
}
.app-section .row{
    margin: 0 auto;
}

.scenario-block-drag{
    background-color:#18bc9c;
    z-index:1000;
}

.navbar-brand{
    font-size:22px;
    font-weight:bold;
}

.map-container-drop {
    border: 2px dashed #019875 !important;
}

.map-container-droppable {
    border: 2px dashed #F5AB35;
}

.ui-drag{
    -webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.5);
    box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.5);
    background-color: #2C3E50;
    opacity: 0.9;
    color: white;
}

.panel{
    border: 2px solid #ecf0f1;
}

#map-controls{
    height: 10%;
    background-color: #2C3E50;
}

#map-controls.row{
    margin: 0;
}

#map-holder{
    height: 90%;
}

#map-container{
    padding: 0;
}

.control{
    height: 100%;
}

.control span{
    font-size: 22px;
    margin-top: 15px;
    cursor: pointer;
    color: #019875;
}

.green{
    color: #019875;
}

.white{
    color:white;
}

.route-details{
    font-size: 14px;
}

.route-holder{
    padding-top: 5px;
}