::selection{
    background-color:transparent !important;    
}

.navbar{
    border-radius: 0;
    margin-bottom: 5px;
}

.main-container{
    height: 100%;
    min-height: 500px;
}

.app-section{
    height: 500px;
    max-height: 700px;
}

.section-container{
    padding:5px;   
}

footer{
    margin:0 20px;
}

.scenario-block{
    text-align:center;
    height:120px;
}

.scenario-block i{
    font-size:50px;
    margin-top:15px;
    padding:5px;
}

.scenario-block div{
    border:1px solid lightgray;
    cursor:move;
}
.app-section .row{
    margin: 0 auto;
}

.scenario-block-drag{
    background-color:#18bc9c;
    z-index:1000;
}

.navbar-brand{
    font-size:22px;
    font-weight:bold;
}
